ultralytics
torch
torchvision
opencv-python
Pillow
numpy
Arm_Lib
pyserial 


# for voice recognition
# the offline model
vosk 
pyaudio
pyttsx3
portaudio19-dev
espeak-ng

# For hand gestures
# mediapipe